*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-color: #000;
}
.title{
    text-align: center;
    margin-top: 150px;
}
.timer{
    width:600px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    background-color: #fff;
    overflow: hidden;
}

@media (max-width: 666px) {
    .timer{
        width: 96%;
    }
    .title{
        margin-top: 50px;
    }
}

.timer__show {
    background-color: rgb(255, 76, 76);
    padding-top: 30px;
    padding-bottom: 35px;
}

.timer__time {
    margin-top: 25px;
    font-size: 90px;
    line-height: 1;
    font-weight: 700;
    
}
.timer__buttons-wrapper {
    margin-top: 30px;
}
.buttons-wrapper {
    
}
.buttons-wrapper__btn {
    
}
button{
    cursor: pointer;
}
.btn {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius:5px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.btn-start {
}
.btn-reset {
}
.timer__settings {
    color: #000;
    padding: 30px 40px;
}
.settings {
}
.settings_list {
    display: flex;
    align-items: center;
}
.settings__item:first-child {
    margin-right: auto;
}
.settings__item {
    width: 50%;
}
.settings__subtitle {
    font-weight: 700;
    font-size: 18px;
}
.settings__buttons {
    margin-top: 15px;
}
.session {
}
.session__plus-minute {
}
.session__minus-minute {
}
.break {
}
.break__plus-minute {
}
.break__minus-minute {
}