body{
  background-color: #070417;
}
.track{
  stroke-width: 20;
  stroke: #1B143F;
  fill: none;
}

.progress{
  stroke: #7012CE;
  fill: none;

  stroke-width: 20;
  stroke-dasharray: 630;
  stroke-dashoffset: 500;
  stroke-linecap: round;

  transform: rotate(270deg);
  transform-origin: center;
  transition: all 0.8s
}
.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}